{% extends "base.html" %}

{% block content %}
 <div class="home-bg">
  <section class="hero">
    <h1>Discover Your Next Anime</h1>
    <p>Search thousands of anime titles, characters, and details.</p>
  </section>

  <section class="search-section">
    <form action="/search" method="get" class="search-bar">
      <input type="text" name="q" placeholder="Search anime..." />
      <button class="btn btn-outline-success" type="submit"><img src="{{ url_for('static', filename='search.png') }}"
                 alt="Search"
                 class="search-button" width="18" height="18"></button>
    </form>
  </section>

  <main class="results-grid" id="resultsGrid">
  {% if animes %}
    {% for anime in animes %}
      <a href="/anime/{{anime.title}}-{{ anime.mal_id }}" class="anime-card" name="selected">
        <img src="{{ anime.image_url }}" alt="{{ anime.title }}">
        <h3 name="title">{{ anime.title }}</h3>
        <p>Score: {{ anime.score }}</p>
      </a>
    {% endfor %}
  {% else %}
    <footer>
      <p class="placeholder-text">Search for an anime to see results here.</p>
    </footer> 
   
  {% endif %}
</main>
 </div>
{% endblock %}